@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown:hover .dropdown-menu {
  display: block;
}

.loading-anim {
  display: flex;
  justify-content: space-between;
  width: 16px;
  height: 16px;
  text-align: center;
  font-size: 10px;
}

.loading-anim > span {
  height: 100%;
  width: 4px;
  background-color: rgb(166, 166, 166);
  opacity: 0.2;
  border-radius: 4px;
  animation: 0.6s ease-in-out 0s infinite normal none running loading-kf;
  transform-origin: center center;
}

@keyframes loading-kf {
  0%, 100% {
    transform: scaleY(0.4);
    opacity: 0.8;
  }
  50% {
    transform: scaleY(1);
    opacity: 1;
  }
}

@layer base {
  .theme {
    --font-heading: var(--font-sans);
    --font-sans: var(--font-sans);
  }
  :root {
  --border: 214 32% 91%;
  --input: 214 32% 91%;
  --ring: 222 84% 4.9%;
  --background: 0 0% 100%;
  --foreground: 222 84% 4.9%;
  --primary: 222 47% 11%;
  --secondary: 210 40% 96%;
  --destructive: 0 84% 60%;
  --muted: 210 40% 96%;
  --accent: 210 40% 96%;
  --popover: 0 0% 100%;
  --card: 0 0% 100%;
}
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}